<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Immediate Sign Language Translation Assistant for the Deaf</title>    
  <link rel="stylesheet" href="{{ url_for('static', filename='webstyle.css') }}">
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  <link rel="style" href="FontAwesome6.2.0/css/all.min.css">
</head>
<body>
  <header>
    <nav>
      <div class="container">
        <div class="logo">
          <img src="/images/suan-thon logo.png" alt="Logo">
        </div>
        <div class = "nav-head">
          <div class="name">Immediate Sign Language Translation Assistant for the Deaf</div>
          <ul class="menu">
            <li><a href="about.html">About</a></li>
            <li><a href="database.html">Database</a></li>
            <li><a href="learning.html">Learning</a></li>
          </ul>
          <div class="toggle">
          </div>
        </div>
      </div>
    </nav>
  </header>

  <div class="box">
    <div class="webchat" id="webchat"></div>
      <div class="webchat-input">
        <input type="text" id="input-text" placeholder="Enter a message">
        <button id="sendBtn">Send</button>
      </div>
  </div>

  <script src="{{ url_for('static', filename='webscript.js') }}"></script>

</body>
</html>
