<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Two side massage box</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body>
    <p>Try making two side chat box..</p>
    <img class="camera" src="{{ url_for('video') }}" id="video" width="360" height="280">
    
    <div id="chatbox" class="chatbox">
        <p id="test">test</p>
    </div>
    
    <input type="text" id="why" placeholder="Type message...">
    <button id="button">Send</button>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>